body {
    margin: 0;
    box-sizing: border-box;
    background-color: darkorange;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

img {
    width: 70%;
    margin: 5px;
}

#header {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: lightgreen;
    color: white;
    text-align: center;
}

#main {
    display: flex;
    margin-top: 4.2%;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sidebar1 {
    display: block;
    padding: 5px;
    padding-top: 25px;
    width: 30%;
    height: 82vh;
    background-color: white;
}


#footer {
    text-align: center;
    background-color: lightgreen;
    color: white;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}
