@{
    ViewData["Title"] = "Index Home";
}


<h2>@ViewBag.Nombre</h2>
<h3>@ViewBag.Fecha</h3>
@Html.ActionLink("Ir a aulas :D", "Index", "Aula")

@section SideBar
    {
    <img src="./css/imgs/1.jpg" alt="imagen de una escuela" />
    <img src="./css/imgs/2.jpg" alt="imagen de una escuela" />
    <img src="./css/imgs/3.jpg" alt="imagen de una escuela" />
  
}
